 @model IEnumerable<AzureContactManager.Models.Product>
@{
    ViewBag.Title = "ShowProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductList</h2>
@if (Model != null)
{
    <ul>
        @foreach (var item in Model)
        {
                <li>
                    product Name: @item.Name
                    <br/>
                    price: @item.Price
                    <br/> 
                    description @item.ShortDescription
                    <br />
                    <a href="/DemoCart/Add/@item.Id">Add to cart</a>
                </li>
        }
    </ul>

}