@{
    ViewBag.Title = "Home Page";
}

<div >
    <h1>Devarsh's Azure and Asp.net MVC site</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            <h1>@ViewBag.Message</h1>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <h1>Random number generator : @ViewBag.No</h1>
        
    </div>
</div>
